#mainTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}


#mainTable th {
    padding: 10px;
    background-color: #9AA0A6;
}


#mainTable td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

#mainTable tr:nth-child(4n):not(:last-child) {
    border-bottom: 2px solid black;
}

#mainTable tr {
    background-color: white;
}

#headerDiv {
    padding: 5px;
    background-color: #4285F4;
    text-align: center;
    font-size: 20px;
    height: 100%;
    width: 100%;
    color: white;
}

#tableDiv{
    padding: 30px;
}

#bodyDiv {
    background-color: #F1F1F1;
    margin: 0;
}

.roboto-regular, #mainTable td, select {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium, #header, #mainTable th {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
